/* Provided by Manifold0 */
:root {
  --red: 28;
  --green: 150;
  --blue: 130;

  --accessible-color: calc(
    (
      (
        (var(--red) * 299) +
        (var(--green) * 587) +
        (var(--blue) * 114)
      ) - 128000 /* HIGHLIGHT */
    ) * -1000
  );
}

.dark .btn-outline-secondary,
.dark .btn-outline-success,
.dark .btn-outline-danger,
.dark .btn-outline-secondary.disabled,
.dark .btn-outline-success.disabled,
.dark .btn-outline-danger.disabled {
  color:
    rgb(
      var(--accessible-color),
      var(--accessible-color),
      var(--accessible-color)
    );
  background-color:
    rgb(
      var(--red),
      var(--green),
      var(--blue)
    );
}


/* Taken from https://www.w3schools.com/howto/howto_css_switch.asp */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.currentRank {
  color: #788781;	
}

.researcherName {
  text-decoration: underline dotted;
  color: inherit;
  cursor: pointer;
}

.researcherName:hover {
  text-decoration: underline dotted;
  color: inherit;
  cursor: pointer;
}

.resourceIcon {
  height:1.5em;
  width:1.5em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.resourceIcon.disabled {
  opacity: .65;
}

.inputIcon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.capsule {
  height: 1.5em;
  width: 1.2em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;  
  display: inline-block;
}

.infoButton, .infoButton:hover, .infoButton:focus {
  text-decoration: none;
}

.infoButton:hover {
  cursor: pointer;
}

.scriptedRewardInfo {
  border:1px solid grey;
  border-radius: 50%;
}

/* Color filters generated by https://codepen.io/sosuke/pen/Pjoqqp */
.dark .altGroup-0 {
  /* grey instead of black for dark mode */
  filter: invert(53%) sepia(5%) saturate(4%) hue-rotate(314deg) brightness(94%) contrast(90%);
}

.altGroup-1 {
  /* dark blue */
  filter: invert(15%) sepia(77%) saturate(3822%) hue-rotate(215deg) brightness(108%) contrast(102%);
}

.altGroup-2 {
  /* dark red */
  filter: invert(7%) sepia(90%) saturate(4602%) hue-rotate(20deg) brightness(132%) contrast(132%);
}

.altGroup-3 {
  /* dark green */
  filter: invert(26%) sepia(67%) saturate(1702%) hue-rotate(110deg) brightness(99%) contrast(102%);
}

.calcTable {
  width: 100%;
  border-collapse:separate;
  border-spacing: 0 .5rem;
}

.calcTable td {
  width: 50%;  
}

.researcherCard {
  width: 100px;
  height: 125px;
  background-size: 100px 125px;
  background-repeat: no-repeat;
  background-position: center;
  border: 4px solid black;
  border-radius: 4px;
}

.researcherLteCommon {
  background-color: lightgrey;
}

.researcherLteRare {
  background-color: lightblue;
}

.researcherCommon {
  background-color: lightgrey;
}

.researcherRare {
  background-color: lightyellow;
}

.researcherEpic {
  background-color: plum;
}

.researcherSupreme {
  background-color: lightpink;
}

.propagandaBoost {
  background-color: black;
}

.researcherIcon {
  background-color: rgba(0, 0, 0, 0.5);
  height:35px;
  width:35px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  border-radius: 0 0 0 4px;
}

.researcherLevel {
  background-color: rgba(0, 0, 0, 0.5);
  color: lightblue;
  font-weight: bold;
  
  width: 92px;
  height: 1.5em;
  position: absolute;
  bottom: 2.5em;
}

.researcherLevelButton {
  border: 1px outset;
  border-radius: 3px;
}

.researcherLevelButton, .tradeLevelButton {
  width: 1em;
}

.researcherLevelButton:hover, .tradeLevelButton:hover {
  cursor: pointer;
}

/*
  Custom styling for trade level buttons.
*/
.tradeLevelButton {
  position: absolute;
  height: 50%;
  margin-left: 2px;
  line-height: 20px;
}

.tradeLevelButton:nth-child(2) {
  top: 50%;
}

.missionContainer {
  display: inline-block;
}

.calcInputContainer {
  overflow: hidden;
  display: block;
}

.scheduleIcon {
  max-width: 1.5em;
  max-height: 1.5em;
}

.scheduleIconLarge {
  max-width: 2em;
  max-height: 2em;
}

.rewardIconWrapper {
  position: relative;
  display: inline-block;
}

.rewardIconWrapper .rewardIconText {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 15%;
  text-align: center;
  color: white;
  text-shadow:1px 1px 0px black, 1px -1px 0px black, -1px 1px 0px black, -1px -1px 0px black;
  font-size: .75em;
  overflow: hidden;
}

.rewardIcon {
  max-width: 1.5em;
  max-height: 1.5em;
}

.rewardListIconWrapper {
  min-width:2.5em;
  display:inline-block;
  text-align: center
}

.scheduleHeader:hover {
  cursor: pointer;
}

.dark .scheduleHeader.selected {
  background-color: #333;
}

.scheduleHeader.selected {
  background-color: #999;
}

.form-inline label.disabled {
  color: #6c757d; /* taken from bootstrap light theme */
}

.dark .form-inline label.disabled {
  color: #555; /* taken from bootstrap dark theme */
}

button .active-checkbox {
  min-width: 0.5rem;
  min-height: 0.5rem;
  position: relative;
  bottom: 0.125rem;
  border: 1px solid black;
  display: inline-block;
}

button.active .active-checkbox {
  background-color: black;
}

.dark button .active-checkbox {
  border-color: white;
}

.dark button.active .active-checkbox {
  background-color: white;
}

.keyboardShortcutHolder {
  overflow-x: scroll;
}

.rank-advance-alert, .data-management-key {
  float: left;
}

.rank-advance-alert p {
  height: 22px;
  line-height: 44px;
}

.data-management-key p {
  line-height: 33px;
}

.rank-advance-buttons, .data-management-buttons {
  float: right;
}

.rank-advance-buttons button {
  width: 75px;
}

.data-management-buttons button {
  width: 125px;
}

#data-management-holder div {
  display: flow-root;
  margin-top: 5px;
  margin-bottom: 5px;
}

@media screen and (max-width: 600px) {
  .missionContainer { margin: .25rem .25rem .25rem .25rem }
  .missionContainer > button { width: calc(100vw - 7rem); }
  .missionContainer > .altEmptySpan + button { width: calc(100vw - 8.7rem); }
}

@media screen and (min-width: 601px) and (max-width: 700px) {
  .missionContainer { margin: .25rem .25rem .25rem .25rem }
  .missionContainer > button { width: 225px; }
  .missionContainer > .altEmptySpan + button { width: calc(225px - 1.7rem); }
}

@media screen and (min-width: 701px) and (max-width: 1100px) {
  .missionContainer { margin: .25rem .25rem .25rem .25rem }
  .missionContainer > button { width: 225px; }
  .missionContainer > .altEmptySpan + button { width: calc(225px - 1.7rem); }
}

@media screen and (min-width: 1101px) {
  .missionContainer { margin: .25rem 1rem .25rem 1rem }
  .missionContainer > button { width: 300px; }
  .missionContainer > .altEmptySpan + button { width: calc(300px - 1.7rem); }
}
